*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(223, 221, 221);
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar div{
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
}
.navbar div:hover{
    background-color: rgb(222, 218, 218);
    color:black;

}

.link{
    text-decoration: none;
    color: gray;
}

.iwcn{
    width: 100px;
    height: 30px;
    margin: 25px 0;
}