body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
}
.box{
    width: 95%;
    border-radius: 10px;
    margin: auto;
    background-color: aliceblue;
}

.temp{
    border: 2px solid red ;
    border-radius: 30px;
    margin: 10px;
    padding: -29px;
    background-color: aliceblue;
}
.formbox{
    /* border: 2px solid; */
    padding: 10px;
}

.formbox input{
    padding:15px 60px ;
    margin: 15px;
    font-size: 15px;
    border-radius: 10px;
}
.formbox button{
    padding: 10px;
    font-size: 22px;
    border-radius: 8px;
    background-color: green;
    color: white;
}

.cretetample{
    margin: auto;
}

.tre{
    display: grid;
    /* border: 3px solid; */
}
.tre p{
    border: .1px solid gray;
    color: gray;
    width: 90%;
    padding: 10px;
    margin: 1px;
}
.int{
    width: 90%;
}
.form{
    /* display: grid; */
    width: 80%;
}
.btn{
    margin: auto;
    width: 100px;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
.form input{
    width: 90%;
}

.nav{
    width: 100%;
    border: 1px solid;
    background-color: black;
    color: white;
    margin: 0;
    padding: 10px;
}
.table{
    border: 2px solid green;
    margin: 10px ;
    border-radius: 5px;
}
.namediv{
    display: flex;
    justify-content: space-evenly;
    margin: -10px;
}
.note-foot{
    width: 50%;
    margin: auto;
    justify-content: space-between;
}
.note-foot button{
    width: 100px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}
.editet{
    background-color: blue;
    text-align: center;
    padding: 5px;
    margin: 6px;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    color: white;
}
.deletet{
    background-color: red;
    padding: 5px;
    margin: 6px;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    color: white;
}

.editebox{
    width: 100%;
}

.editbox p input{
    width: 90%;
    padding: 10px;
}